<% shop_product = order_product.shop_product %>

<div class="cart-product">
  <div class="cart-product-image">
    <%= cl_image_tag order_product.image, height: 150, width: 150, crop: :fill %>
  </div>
  <div class="cart-product-general-data">
    <h4 class="cart-product-category"><%= shop_product.product.product_category.name %></h4>
    <p class="cart-product-shop-name"><%= shop_product.shop.name %></p>
      <div class="offer-stars">
        <% shop_product.shop.rating.floor.times do %>
            <i class="fa fa-star" aria-hidden="true"></i>
          <% end %>
          <% (5 - shop_product.shop.rating.floor).times do %>
            <i class="fa fa-star-o" aria-hidden="true"></i>
        <% end %>
      </div>
      <p class="offer-price"><%= humanized_money_with_symbol(shop_product.price) %></p>
      <p class="offer-delivery"><%= shop_product.delivery_days %> days</p>
  </div>
  <div class="cart-product-properties">
    <% shop_product.product.product_category.product_properties.each do |property| %>
      <p><strong><%= property.name.split('_').join(' ').capitalize %></strong>: <%= shop_product.product[property.name.to_sym] %></p>
    <% end %>
  </div>
  <div style="align-self: flex-start;">
    <%= link_to  order_product, { data: { confirm: "Are you sure you wish to delete the product '#{order_product.shop_product.product.product_category.name }' from your cart?" }, class: "cart-product-delete", method: :delete, remote: true } do %>
      Delete
    <i class="fa fa-times" aria-hidden="true"></i>
    <% end %>
  </div>

</div>
