<h3 class="product-form-presentation"><%= @product_catecory.question %></h3>

<%= form_tag "/offers", remote: true, id: "product-form" do %>
  <% @product_properties.each do |property| %>
    <div class="property">
      <h4 class="property-question"><%= property.question %></h4>
      <% if property.show == "images" %>
        <%= render 'property_values_images', property: property %>
      <% else %>
        <%= render 'property_values_text', property: property %>
      <% end %>
    </div>
  <% end %>
  <div class="product-form-find">
    <input type="hidden" name="product_category" value="<%= @product_catecory.id %>">
    <input id= "product-find-button" type="submit" value="Select a shop" class="btn btn-primary">
  </div>
<% end %>
