<h3 class="text-center"><%= @product_catecory.question %></h3>

<%= form_tag "/offers", remote: true do %>
  <% @product_properties.each do |property| %>
    <div class="property">
      <h4 class="property-question"><%= property.question %></h4>
      <div class="property-values">
        <% property.property_values.each_with_index do |property_value, index| %>
          <div class="property-value">
            <input type="radio" name="product[<%= property.name %>]"
            value="<%= property_value.value %>" <%= "checked" if index.zero? %> >
            <%= property_value.value %>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
  <input type="hidden" name="product_category" value="<%= @product_catecory.id %>">
  <input type="submit" value="Submit" class="btn btn-primary">
<% end %>
