<h3 class="text-center"><%= @product_catecory.question %></h3>

<%= form_tag "/offers", remote: true do %>
  <% @product_properties.each do |property| %>
    <div class="property">
      <h4 class="property-question"><%= property.question %></h4>
      <% if property.show == "images" %>
        <%= render 'property_values_images', property: property %>
      <% else %>
        <%= render 'property_values_text', property: property %>
      <% end %>
    </div>
  <% end %>
  <input type="hidden" name="product_category" value="<%= @product_catecory.id %>">
  <input type="submit" value="Submit" class="btn btn-primary">
<% end %>
