<h3 class="section-heading">Choose one of the offers:</h3>

<%= form_tag "/order_products", remote: true do %>
  <div class="offer-list">
    <% @offers.each do |offer| %>
      <div class="offer">
        <h4 class="offer-shop"><%= offer.shop.name %></h4>
        <p class="offer-price"><%= offer.price %> &euro;</p>
        <p class="offer-delivery"><%= offer.delivery_days %> days</p>
        <input type="radio" name="offer[id]" value="<%= offer.id %>" >
      </div>
    <% end %>
  </div>

  <div class="next-section-button">
    <input id="upload-image-button" type="submit" value="Add an image file" class="btn btn-success">
  </div>

<% end %>
