<h3 style="text-align: center;">Choose one of the offers:</h3>
<%= form_tag "/order_products", remote: true do %>
  <div class="offer-list">
    <% @offers.each do |offer| %>
      <div class="offer">
        <h4><%= offer.shop.name %></h4>
        <p>Price: <%= offer.price %> &euro;</p>
        <p><%= offer.delivery_days %> delivery days</p>
        <input type="radio" name="offer" value="<%= offer.id %>" >
      </div>
    <% end %>
  </div>
  <div style="display:flex; justify-content: center; margin: 40px 0;">
    <input type="submit" value="Add to cart" class="btn btn-primary">
  </div>
<% end %>
