<h3 class="section-heading">Add a image file</h3>
<div class="row">
  <div class="col-xs-6">
    <div class="product-specifications">
      <% @product = @order_product.shop_product.product %>
      <h4><%= @product.product_category.name %></h4>
      <% @product.product_category.product_properties.each do |property| %>
        <p><%= @product[property.name] %></p>
      <% end %>
    </div>
  </div>
  <div class="col-xs-6">
    <%= image_tag("http://placehold.it/300x200", alt: @product.product_category.name) %>
    <p>Image uploader feature goes here</p>
  </div>
</div>



<%= simple_form_for @order_product, method: :patch  do |f| %>
  <%= f.input :image %>
  <%= f.input :image_cache, as: :hidden %>
  <%= f.submit %>
<% end %>
